body {
    background-color: #958378;
    color: white;
    margin: auto;
    max-width: 800px;
    text-align: center;
}

.list > h3 {
    color: rgb(51, 39, 16);
    font-size: 28;
}

h2 {
    font-size: 32px;
}

#bannerimage {
    position: relative;
    text-align: center;
    height: 50%;
    background-position: center;
   background-size: cover;
}

@font-face {
    font-family: 'ElanorFreePersonalUse';
    src: url(ElanorFreePersonalUse-ExtLt.otf) format('otf');
}

h1 {
    position: absolute;
    top: 500px;
    left: 30px;
    font-size: 42px;
    color: white;
    font-family: 'ElanorFreePersonalUse';
}

header {
    padding-bottom: 20px;
    text-align: center;
    background-position: center;
    width: 100%
}

nav {
    padding: 20px;
}

footer {
    padding-top: 50px;
    font-size: 12px
}

nav > a {
    color: white;
    font-size: 24px;
    padding: 5px;
}