body {
    background: color #958378;
    color: white;
    margin: auto;
    max-width=782px
}

h1 {
    color: white
}

h2 > p {
    color: white
}

ul {
    background: color #958378;
    color:white}

#bannerimage {
    text-align: center;
    width:100%; 
    height:721px
}

h1 {
    text-align: center;
    color: white;
    font-family: 'ElanorFreePersonalUse';
}