body {
    background-color: #958378;
    color: white;
    margin: auto;
    max-width: 980px;
}

h2 > p {
    color: white
}

ul {
    background: color #958378;
    color:white;
}

#bannerimage {
    position: relative;
    text-align: left;
    width: 980px; 
    height: 721px;
}

h1 {
    position: absolute;
    top: 132px;
    left: 12px;
    font-size: 48px;
    color: white;
    font-family: 'ElanorFreePersonalUse';
}

header {
    padding-bottom: 50px
}